<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Øl i Trondheim</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        #footer {
            height: 60px;
            background-color: #f5f5f5;
        }

        #footer p {
            margin-top: 5px;
        }
    </style>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Øl i Trondheim <small>Hva drikkes nå?</small></h1>
            </div>
        </div>
    </div>
    <div id="olliste">
    </div>
</div>

<div id="footer">
    <div class="container">
        <p>Laget av <a href="http://twitter.com/atlefren" target="_blank">@atlefren</a>, med data fra <a href="http://untappd.com" target="_blank">Untappd</a>. Kode på <a href="https://github.com/atlefren/trondheimsol" target="_blank">GitHub</a>.</p>
        <p>Oppdateres hvert 5. minutt.</p>
    </div>
</div>

{% include "js_templates.html" %}

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/olapp.js') }}" ></script>

</body>
</html>
