<script type="text/template" id="beer_template">
    <div class="pull-left">
        <img width="40" height="40" src="<%= beer_label %>" class="media-object"/>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%= beer_name %></h4>
        <strong><%= brewery_name %></strong>
        <% if(user && date) { %> (<%= user %>, <%= date %>) <%}%>
        <% if(checkins) { %> (<%= checkins %> checkins) <%}%>
    </div>
</script>

<script type="text/template" id="venue_template">
    <div class="well">
        <h2><%= venue_name %></h2>

        <p class="lead"><%= primary_category %></p>

        <dl class="dl-horizontal">
            <dt>Adresse</dt>
            <dd><a href="<%= map_url %>" target="_blank"><%=venue_address %></a></dd>
            <dt>Antall unike besøkende</dt>
            <dd><%= total_user_count %></dd>
            <dt>Antall checkins</dt>
            <dd><%= total_count %></dd>
            <dt>Antall personer her nå</dt>
            <dd><%= user_count %></dd>
        </dl>
        <hr>

        <h3>Topp 10 øl</h3>
        <ul class="media-list" id="top_10_beers"></ul>
        <hr>

        <h3>Siste chekins</h3>
        <ul class="media-list" id="last_checkins"></ul>
        <hr>

        <h3>Siste ølbilde</h3>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <img src="<%= beer_image %>" />
                    <p>Bilde: <%= image_user %> (<%= image_date %>)</p>
                </div>

            </div>
        </div>
    </div>
</script>
